*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1400px;
    margin: auto;
    padding: 0px 40px;
}

nav{
    background-color: rgb(0, 195, 255);
    padding: 20px 0px;
    font-size:20px;
    font-style: oblique;
    opacity: 0.5;
    position: fixed;
    width: 100%;

    .navbar{
        display: flex;
        justify-content: space-between;
    }

    ul{
        display: flex;
        gap: 20px;
        text-decoration: none;
        list-style: none;
    }
    .icon{
        display: flex;
        gap: 20px;
    }
    
}
.barner{
    background-image: url(https://149842022.v2.pressablecdn.com/wp-content/uploads/sites/59/2016/12/photo-1440557653082-e8e186733eeb-1.jpg);
    width: 100%;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    .brn{
        font-size: 30px;
        align-items: center;
        display: flex;
        margin: auto;
        color: rgb(145, 137, 137);
        flex-direction: column;
        h3{

        }
    }
    button{
        background: white;
        color: red;
        width: 100px;
        height: 50px;
        border-radius: 10px;
        margin-left: 70px;
        border-color: bisque;

    }
  
}
.cont{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
 
    .t1{
        width: 500px;
        height: 400px;
        
        text-align: center;
      padding-top: 130px ;
      h3{
        font-style: italic;
        color: red;
      }
      h4{
        color: grey;
      }
       

    }
    .t2{
        width: 500px;
        height: 400px;
        background-image: url(https://preview.colorlib.com/theme/pato/images/our-story-01.jpg);
        border-radius: 15px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }
}
.main1{
    width: 100%;
    height: 400px;
    background-image: url(https://preview.colorlib.com/theme/pato/images/our-story-01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
   margin: auto;
   align-items: center;

}
