*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1400px;
    margin: auto;
    padding: 0px 40px;
}

nav{
    background-color: rgb(161, 161, 161);
    padding: 20px 0px;
    font-size:20px;
    font-style: oblique;
    opacity: 0.5;
    position: fixed;
    width: 100%;

    .navbar{
        display: flex;
        justify-content: space-between;
    }

    ul{
        display: flex;
        gap: 20px;
        text-decoration: none;
        list-style: none;
    }
    .icon{
        display: flex;
        gap: 20px;
    }
    
}
.barner{
    background-image: url(https://149842022.v2.pressablecdn.com/wp-content/uploads/sites/59/2016/12/photo-1440557653082-e8e186733eeb-1.jpg);
    width: 100%;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    .brn{
        font-size: 30px;
        align-items: center;
        display: flex;
        margin: 0 auto;
        color: rgb(145, 137, 137);
        flex-direction: column;
        .btn{
            button{
            background: white;
            color: red;
            width: 100px;
            height: 50px;
            border-radius: 10px;
            margin-left: 200px;
            align-items: center;
            border-color: bisque;
        }
           
    
        }
      
    }
   
  
}
.cont{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
 
    .t1{
        width: 500px;
        height: 400px;
        
        text-align: center;
      padding-top: 130px ;
      h3{
        font-style: italic;
        color: red;
      }
      h4{
        color: grey;
      }
       

    }
    .t2{
        width: 500px;
        height: 400px;
        
        border-radius: 15px;
        img{
            border-radius: 20px;
            margin-right: 40px;
            align-items: center;
        }
    

    }
}
.main1{
     width: 100%;
     height: 400px;
     background-image: url(https://preview.colorlib.com/theme/pato/images/our-story-01.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     text-align: center;
     margin: auto;
     align-items: center;
     position: relative;
   mn{
    font-size: 20px;
    text-align: center;
    margin-top: 50%;
    position: absolute;
   }

}
.grid-container {
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 400px 20px;
    gap: 20px;
    background-color: white;
    padding: 10px;
    div {
      
        text-align: center;
        padding: 20px 0;
        
        align-items: center;
        text-align: center;
        gap: 15px;
        img{
            border-radius: 20px;
            gap: 15px;
        }
      }
  }